.btn {
  box-sizing: border-box;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s ease;

  &-submit {
    background: map-get($colors, second);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease;

    &:hover {
      background: map-get($colors, second-dark);
      .icon-shop {
        transform: scale(1.1);
      }
    }
  }

  &-wish {
    background: map-get($colors, main-dark);
    .icon-wish {
      fill: map-get($colors, main-dark);
    }

    &:hover {
      .icon-wish {
        fill: map-get($colors, second);
      }
    }
  }
}

.button-form {
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($colors, second);

  svg {
    fill: white;
  }
}
