body {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

button {
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
