.icon {
  height: 20px;
}

.icon-shipped {
  width: 32px;
}

.icon-shop {
  width: 20px;
  margin-right: 10px;
}

.icon-wish{
  width: 23px;
  height: 22px;
}

.icon-share {
  margin-left: 10px;
  width: 19px;
}

.icon-plus {
  height: 16px;
  width: 16px;
}

.icon-minus {
  height: 2px;
  width: 16px;
}
