.product {
  margin-top: 40px;

  &-name {
    padding: 20px;
    text-align: center;
  }
}

.product-image {
  margin: 50px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 1fr 30%;
  justify-content: space-around;
  justify-items: center;

  &-list {

  }

  &-main {
    img {
      width: 10%;
    }
  }

  .price {
    color: white;
    padding: 20px;
    background: map-get($colors, main);
  }
}
