.product-info {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  margin-top: 20px;

  &-wrap {
    background: map-get($colors, background);
    padding: 30px;

    @include breakpoint('xlarge') {
      padding: 40px;
    }

    @include breakpoint('small') {
      padding: 20px;
    }

  }

  &-detail {
    background: map-get($colors, main);
    color: white;
    position: relative;
    top: -8px;

    a {
      color: white;
      font-size: .9rem;
      transition: color .6s ease;

    }
  }

	@include breakpoint('>=small<=medium') {
    grid-template-columns: 100%;
  }
}

.product-info-form {
  display: flex;
  flex-wrap: wrap;

  h4 {
    color: map-get($colors, text-light);
  }

  input[type="radio"] {
    height: 0;
    visibility: hidden;
    width: 0;
  }

  label {
    font-size: .9rem;
    color: map-get($colors, text-light);
    cursor: pointer;
    transition: all .4s ease;
  }
}

.form-options {
  margin-right: 30px;
  margin-bottom: 20px;
}
