body {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0; }

h1, h2 {
  margin: 0; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

button {
  box-shadow: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.header {
  background: #232E3E;
  height: 60px; }

.product {
  margin-top: 40px; }
  .product-name {
    padding: 20px;
    text-align: center; }

.product-image {
  margin: 50px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 1fr 30%;
  justify-content: space-around;
  justify-items: center; }
  .product-image-main img {
    width: 90%; }
  .product-image .price {
    color: white;
    padding: 20px;
    background: #232E3E; }
