.form-aditional {
  h4 {
    margin-left: 8px;
  }
}

.aditional-options {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  height: 100%;

  &-input {
    margin-right: 4px;
    margin-bottom: 10px;

    label{
      background: white;
      border: 1px solid map-get($colors, second);
      box-sizing: border-box;
      padding: 10px;
      &:hover {
        background: map-get($colors, second);
        color: white;
      }
    }

    input[type="radio"]:checked + label {
      background: map-get($colors, second);
      color: white;
    }
  }
}
