.type-qty {
  display: flex;

  input {
    font-size: .8rem;
    height: 30px;
    text-align: center;
    width: 30px;
  }

  button {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  @include breakpoint('small') {
    button {
      height: 35px;
      width: 35px;
    }
  }

  svg {
    fill: white;
  }
}

.disable {
  background: map-get($colors, border);
  svg {
    fill: map-get($colors, text-light);
  }
}
